@use 'src/scss/vars' as *;
@use 'src/scss/mixin' as *;

.ctn-my-profile {
  width: 100%;
  max-width: 624px;
  margin: 60px auto;

  @include mobileScreen {
    padding: 24px 16px;
  }

  &__info {
    padding: 32px;
    flex-direction: row;

    img {
      width: 96px;
      height: 96px;
      margin-right: 32px;
      @include mobileScreen {
        width: 60px;
        height: 60px;
        margin-right: 16px;
      }
    }
    @include mobileScreen {
      padding: 16px;
    }
  }

  &__content {
    background: #fff;
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    flex-direction: row;
  }

  &__action {
    padding: 20px 32px;
    justify-content: space-between;
    transition: 0.1s;
    color: $color-black-400;

    @include hover {
      filter: brightness(90%);
      cursor: pointer;
    }
    @include active {
      filter: brightness(65%);
      transition: all 0s;
    }

    div {
      display: flex;
    }
    @include mobileScreen {
      padding: 16px;
    }
  }

  &__icon {
    &::before {
      font-size: 24px;
      color: $color-black-400;
    }
  }
}
