@use '~src/scss/vars' as *;
@use '~src/scss/mixin' as *;

.cmp-datepicker {
  // z-index: 109;
  position: relative;
  & &__input--error:not(:disabled) {
    border-color: $color-danger !important;
  }

  & &__error {
    margin-top: 4px;
    color: $color-danger;
    font: {
      size: 14px;
    }
  }

  & &__input {
    height: 40px;
    padding: 0 16px;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }
}
.react-datepicker-popper {
  z-index: 999 !important;
}
